// Place all the styles related to the monthly_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.monthly-report-panel-date {
  text-align: center;
  span.monthly-report-status {
    margin-right: 5px;
  }
}
div.monthly-report-panel-header {
  padding-top: 15px;
}
a#edit-monthly-button {
  margin-left: 5px;
}

small.monthly-report-shipped-at {
  padding-left: 10px;
}
