/* header */
html, body, .site-body, .site-container, .site-header, .header-menu {
  height: 100%;
}

.site-header {
  position: fixed;
}

.header-menu {
  width: 80%;
  position: relative;

  span {
    font-size: 80%;
  }
}

.header-menu-title {
  margin-bottom: 30px;

  a {
    text-decoration: none;
  }
}

.header-menu-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

/* login-page */
.login-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.login-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
}

/* page-body */
.page-body {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* page-footer */
.page-footer {
  height: 5rem;
}

.modal-dialog {
  z-index: 1500;
}

/* markdown-preview */
.markdown-editor {
  .nav-tabs a {
    text-decoration: none;
  }

  .markdown-content {
    border-top: none;
  }
}

.markdown-view {
  .markdown-body {
    padding-top: 1em;
  }
}

/* alert message */
.alert {
  margin-bottom: 10px;
}

/* monthly-report-index */
.monthly-report-index {
  .pull-right {
    .tag {
      margin-left: 0.5em;
    }

    .comments_count {
      display: inline-block;
      width: 3.5em;
      padding-left: 1em;

      .glyphicon {
        margin-right: 0.3em;
      }
    }
  }
}
