h2.profile-heading {
  margin-bottom: 40px;
}

div.edit-profile {
  text-align: right;
}

table.table tr {
  th {
    width: 25%;
  }

  td {
    width: 75%;
  }
}

#interested-tag-list .tag {
  margin: 2px;
}
