- like = monthly_report.find_like_by_user(current_user)
.col-sm-3
  - if like
    = link_to 'いいね済み',
              monthly_report_like_path(monthly_report, like),
              class: 'btn btn-default',
              method: 'delete',
              role: 'button',
              remote: true
  - else
    = link_to 'いいね！',
              monthly_report_likes_path(monthly_report),
              class: 'btn btn-success',
              method: 'post',
              role: 'button',
              remote: true
.balloon-left.col-sm-3
  = monthly_report.likes_count

