p 今月の月報が登録されました。

p 登録日時: #{@report.created_at}

p 氏名: #{@user.name}

p 今月の業務報告
p = "-------------------------------------------------------------"
p 【プロジェクト概要】
= simple_format(h(@report.project_summary))
p 【使用した技術】
-  @report.tags.each do |t|
  p = t.name
p 【担当した工程】
- @report.monthly_working_processes.each do |e|
 p = Settings.monthly_report.working_process[e.process]
p 【業務内容】
= simple_format(h(@report.business_content))
p 【今月の振り返り】
= simple_format(h(@report.looking_back))
p 【来月の目標】
= simple_format(h(@report.next_month_goals))
p = "-------------------------------------------------------------"
