p = "#{@report.target_month.strftime('%Y年%m月')}の月報が登録されました。"

p = "登録日時: #{@report.created_at}"

p = "氏名: #{@user.name}"

p = "#{@report.target_month.strftime('%Y年%m月')}の業務報告"
p  -------------------------------------------------------------
p 【プロジェクト概要】
= simple_format(h(@report.project_summary))
= monthly_report_url(@report)
p -------------------------------------------------------------
