.container {
  margin: 0;
  padding: 0;
}

.content {
  margin-bottom: 40px;
}

header {
  margin-left: 50px;
}
header .menu {
  font-size: 1.2em;
}

.login-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.login-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
}
