p = @resource.name + "さん"

p = "email: #{@resource.email} 宛にパスワードの再設定がリクエストされました。"
p 以下のリンクから再設定が可能です。
p = link_to 'パスワード再設定用URL', edit_password_reset_url(@resource, reset_password_token: @token)

p このメールに心当たりが無い場合は無視してください。
p 上記URLを通して再設定しない限り、パスワードは変更されません。
