<div id="monthly_report_tags" class="tag-list"></div>

<script>
$(function(){
  var refresh_tags_input = function(self) {
    var input = $('#monthly_report_tags_input');
    (typeof(input) == undefined) ? null : input.val(self.getTags());
  }

  var tagger = $('#monthly_report_tags').tags({
      tagData: <%= tags.to_json.html_safe %>,
      suggestions: <%= Tag.fixed.pluck(:name).to_json.html_safe %>,
      suggestOnClick: true,
      caseInsensitive: true,
      tagClass: 'btn-success',
      afterAddingTag: function() {
        refresh_tags_input(this);
      },
      afterDeletingTag: function() {
        refresh_tags_input(this);
      },
      promptText: <%= placeholder.to_json.html_safe %>
  });
  refresh_tags_input(tagger);

  $('#monthly_report_tags > input').focusout(function() {
    if (this.value.trim() === '') { return; }
    tagger.addTag(this.value);
    this.value = '';
  });
});
</script>
