<% taglist_id = "#{prefix}-tag-list" %>
<div id="<%= taglist_id %>" class="tag-list"></div>

<script>
$(function(){
  var target = $('#<%= taglist_id %>');

  target.tags({
    readOnly: true,
    tagData: <%= raw (tags.present? ? tags.map(&:name) : []) %>,
    tagClass: 'btn-success',
  });

  target.find('.tags').css('position', 'relative');
});
</script>
